* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(4, 5, 7, 0.884);
  color: #fff;
  min-height: 100vh;

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main {
   flex: 1;
   font-size: large;
}

.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  flex-shrink: 0;  /* Prevents the footer from shrinking */

}

.footer-content {
  margin: 0 auto;
  width: 80%;
}
.text-container {
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: rgba(4, 5, 7, 0.884);
  margin-bottom: 1rem;
}
#home {
  width: 100%;
  background-color: rgba(69, 69, 82, 0.363);
  background-image: url("./src/assets/footer_lodyas.png");

} 

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
  }

   /* Styling for the intro section */
.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
}

/* Styling for the intro content container */
.intro-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Space between text and image */
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
}

/* Styling for the text content */
.text-content {
    max-width: 400px;
    margin-right: 3rem;



}

/* Styling for the intro text */
.intro {
  margin-left: 10%;
  padding-bottom: 0.5rem;
  font-size: 3rem;
  
}

.subintro {
  margin-top: 20%;
  font-size: 2rem;
  margin-bottom:60px;
  width: 400px;
  max-width: auto;
}

/* Styling for the photo */
.photo {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  max-width: 100%;
  flex-shrink: 0;
}

.content-container {
  border: 1px solid black
}
@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
    align-items: center;
        text-align: center;

  }
}
/* Media queries for responsiveness */
@media (min-width: 768px) {
  .photo {
    height: 300px;
    width: 300px;
  }

  .text-content {
    margin-right: 3rem;
  }
}

  .aboutMe, .skills, .experience, .education {
    max-width: 800px; 
    width: 100%; 
    margin: 0 auto; 
    padding: 1rem;
    box-sizing: border-box;
  }

  
 

  

  #projects {
    background-color: rgba(69, 69, 82, 0.363);
    width:100%;
    padding:5%;
  }
 
  
  .skills {
    background-color: rgba(69, 69, 82, 0.363);
    border: 1px solid black;  
    
  } 
  .aboutMe {
    background-color: rgba(69, 69, 82, 0.363);
  }
  
  
  
    
    h1 {
      font-size: 2.5em; 
    }
    
    h2 {
      font-size: 2em; 
    }
    
    p {
      font-size: 1.25em; 
    }

.nav-link text-light {
  letter-spacing: px
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.technicalSkills, .projects {
  margin-bottom: 3rem;
}

.technicalSkills h2, .projects h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.technicalSkills p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.project-text {
  flex: 1;
  margin-right: 1rem;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 1rem;
  line-height: 1.5;
}

.projectImage {
  width: 600px; 
  height: auto;
  border: 1px solid #000000;
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: #fff;
  margin: 0;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(4, 5, 7, 0.884);
  flex: 1;  /* Allows form section to grow and fill available space */
}

.form {
  max-width: 600px;
  width: 100%;
  padding: 2rem;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-group {
  text-align: left;
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}

.form-group input::placeholder {
  color: #bbb;
}

.form-group input:focus {
  border-color: #888;
  outline: none;
}

.form input[name="message"] {
  padding: 1rem; /* Adjust the padding for the message input */
}

.form button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #777;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .form {
    padding: 1rem;
  }
}



/*justify-content, align-items, 
align-self flex-direction, flex-wrap, flex-flow*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

