#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
   flex: 1;
   font-size: large;
}

.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  
}

.footer-content {
  margin: 0 auto;
  width: 80%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem; 
    width: 100%; 
    padding: 2rem;
    box-sizing: border-box;
    
  }

  .intro, .aboutMe, .skills, .experience, .education {
    max-width: 800px; 
    width: 100%; 
    margin: 0 auto; 
    padding: 1rem;
    box-sizing: border-box;
  }

  .intro {
    margin-top: 6rem;
    margin-left: 20rem;
    white-space: initial;
    max-width: 400px; /* Optional: Limit the width of the intro text */

  }

  
  .photo {
    border-radius: 50%;
    height: 400px;
    padding: 3rem;
    margin-left: 60vh; /* This will push the element to the rightmost side */
    margin-right: 0; /* This ensures there's no extra margin on the right */
  }

  /* .aboutMe {
    margin-top: 3rem;
  } */
  
  /* .skills {
    margin-top: 3rem;
  } */
  
  /* .experience {
    margin-top: 3rem;
  }
  
  .education {
    margin-top: 3rem;
  } */
    
    h1 {
      font-size: 2.5em; 
    }
    
    h2 {
      font-size: 2em; 
    }
    
    p {
      font-size: 1.25em; 
    }

.nav-link text-light {
  letter-spacing: px
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.technicalSkills, .projects {
  margin-bottom: 3rem;
}

.technicalSkills h2, .projects h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.technicalSkills p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.project-text {
  flex: 1;
  margin-right: 1rem;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 1rem;
  line-height: 1.5;
}

.projectImage {
  width: 600px; 
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}



/*justify-content, align-items, 
align-self flex-direction, flex-wrap, flex-flow*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

