* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(4, 5, 7, 0.884);
  color: #fff;
  min-height: 100vh;

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main {
   flex: 1;
   font-size: large;
}

.page-wrapper {
  background-color: rgba(69, 69, 82, 0.363);
  border-radius:10px;
  margin-top:10rem;
  margin-bottom:10rem;
}
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  flex-shrink: 0;  /* Prevents the footer from shrinking */

}

.footer-content {
  margin: 0 auto;
  width: 80%;
}
.text-container {
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: rgba(4, 5, 7, 0.884);
  margin-bottom: 1rem;
}
#home {
  width: 100%;
  background-color: rgba(69, 69, 82, 0.363);
  background-image: url("./src/assets/footer_lodyas.png");

} 

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
  }

   /* Styling for the intro section */
.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
}

/* Styling for the intro content container */
.intro-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Space between text and image */
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  text-align: center; /* Center text content */

}

/* Styling for the text content */
.text-content {
    max-width: 400px;
    margin-right: 3rem;
    flex: 1 1 50%


}

/* Styling for the intro text */
.intro {
  margin-left: 10%;
  padding-bottom: 0.5rem;
  font-size: 3rem;
  
}

.subintro {
  margin-top: 20%;
  font-size: 2rem;
  margin-bottom:60px;
  width: 400px;
  max-width: auto;
}


/* Styling for the photo */
.photo {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  max-width: 100%;
  flex-shrink: 0;
  
}

.content-container {
  border: 1px solid black
}


  .aboutMe, .skills, .experience, .education {
    max-width: 800px; 
    width: 100%; 
    margin: 0 auto; 
    padding: 1rem;
    box-sizing: border-box;
  }

  .experience-container,
.aboutMe-container {
  width: 80%;
  margin: 0 auto;
}


/* Experience section styling */
.experience {
  margin-bottom: 50px;
}

.experience-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.experience-item {
  width: 48%;
  margin-bottom: 20px;
}

.experience-item p {
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: #fff;
}

/* About section styling */
.aboutMe {
  margin-bottom: 50px;
}

.aboutMe p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #fff;
}

 
  .technicalSkills{
    display: flex;
    align-items: center;
  }
  .container {
    padding-top: 4rem; /* Adjust top padding for spacing */
    text-align: center; /* Center align content */
  }
  
  .content {
    margin-bottom: 2rem; /* Add margin at the bottom of content */
  }
  
  .skillsGrid {
    margin-top: 1rem; /* Add space above the skills grid */
  }
  
  .skillsGrid p {
    margin-bottom: 1rem; /* Add space below each paragraph */
    line-height: 1.6; /* Increase line height for readability */
  }
  .skillsGrid img {
    height: 50px;
    margin-right: 10px; /* Adjust spacing between images */

  }

  .skillsGrid p {
  }

  #projects {
    width:100%;
    padding:5%;
  } 
    
    h1 {
      font-size: 2.5em; 
    }
    
    h2 {
      font-size: 2em; 
    }
    
    p {
      font-size: 1.25em; 
    }

.nav-link text-light {
  letter-spacing: px
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.technicalSkills, .projects {
  margin-bottom: 3rem;
}

.technicalSkills h2, .projects h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.technicalSkills h2,  .projects h2{
  display: inline-block;
  position: relative;
  color: #fff; /* Adjust color as needed */
  font-size: 2rem; /* Adjust font size as needed */
  padding-bottom: 5px; /* Add some padding to space out the underline */
}

.technicalSkills h2::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background: linear-gradient(to right, #689fe7, #133c99); /* Adjust gradient colors as needed */
}



.technicalSkills p {
  font-size: 1.2rem;
  line-height: 1.5;
}


.projects h2 {
    display: inline-block;
    position: relative;
    color: #fff; /* Adjust color as needed */
    font-size: 2rem; /* Adjust font size as needed */
    padding-bottom: 5px; /* Add some padding to space out the underline */
  }
  
  .projects h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: linear-gradient(to right, #689fe7, #133c99); /* Adjust gradient colors as needed */
  }

  .experience h2 {
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;

    color: #fff; /* Adjust color as needed */
    font-size: 2rem; /* Adjust font size as needed */
    padding-bottom: 5px; /* Add some padding to space out the underline */
  }
  
  .experience h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: linear-gradient(to right, #689fe7, #133c99); /* Adjust gradient colors as needed */
  }
  .aboutMe h2 {
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;

    color: #fff; /* Adjust color as needed */
    font-size: 2rem; /* Adjust font size as needed */
    padding-bottom: 5px; /* Add some padding to space out the underline */
  }
  
  .aboutMe h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: linear-gradient(to right, #689fe7, #133c99); /* Adjust gradient colors as needed */
  }

  .education h2 {
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;

    color: #fff; /* Adjust color as needed */
    font-size: 2rem; /* Adjust font size as needed */
    padding-bottom: 5px; /* Add some padding to space out the underline */
  }
  
  .education h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: linear-gradient(to right, #689fe7, #133c99); /* Adjust gradient colors as needed */
  }

.project {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.project-text {
  flex: 1;
  margin-right: 1rem;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 1rem;
  line-height: 1.5;
}

.projectImage {
  width: 600px; 
  height: auto;
  border: 1px solid #000000;
  border-radius: 5px;
}



.form-container {
  max-width: 600px;
  margin: 50px auto; /* Adjust margin to center the form vertically and horizontally */
  padding: 30px;
  background-color: #050505;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input,
.form-container textarea {
  margin-bottom: 20px;
  padding: 15px; /* Increase padding for larger input elements */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px; /* Increase font size for better readability */
}

.form-container textarea {
  resize: vertical;
  min-height: 200px; /* Increase minimum height of the textarea */
}

.form-container button {
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px; /* Increase font size for the button text */
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container p {
  margin-top: 15px;
  font-size: 18px; /* Increase font size of the result message */
  color: #555;
}







/*justify-content, align-items, 
align-self flex-direction, flex-wrap, flex-flow*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* Mobile Version */
/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
  .intro-content {
    flex-direction: column;
    align-items: center;
        text-align: center;
  }
  .subintro {
    padding-top:40px
  }
.page-wrapper{
  width:100%;
}
  .form {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .project {
    flex-direction: column; /* Stack text and image vertically */
    align-items: center; /* Center the items */
  }
    .experience-content {
      flex-direction: column;
    }
  
    .experience-left, .experience-right {
      margin-bottom: 1rem;
  }
    
  
  .projectImage {
    width: 90%; /* Ensures the image fits within the container with some padding */
    margin-bottom: 1rem; /* Adds space below the image */
  }
  
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

